<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anenha.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".widget.WeatherWidgetProviderLarge"
            android:icon="@mipmap/ic_launcher"
            android:label="Large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large"/>
        </receiver>

        <receiver
            android:name=".widget.WeatherWidgetProviderMedium"
            android:icon="@mipmap/ic_launcher"
            android:label="Medium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_medium"/>
        </receiver>

        <receiver
            android:name=".widget.WeatherWidgetProviderSmall"
            android:icon="@mipmap/ic_launcher"
            android:label="Small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small"/>
        </receiver>

        <activity
            android:name=".app.ui.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".app.ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anenha.weather.app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.MoreInformationActivity"
            android:label="@string/action_more"
            android:parentActivityName=".app.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anenha.weather.app.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".app.ui.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".app.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anenha.weather.app.ui.HomeActivity" />
        </activity>

    </application>

</manifest>